<div class="p-4 text-center container">
  <h2>ng-notable</h2>
  <p>Demo application written in Angular 6</p>
  <div>
    <a [href]="href" target="_blank" class="btn btn-secondary btn-lg">
      <fa-icon [icon]="faGithub"></fa-icon> View on Github
    </a>
  </div>
  <hr>
  <p class="text-left">
    This was just a simple project so I could finally learn AngularJS. I didn't think I'd like
    it, since my only exposure to Angular was back in 1.0. I'm not going to lie, I still prefer
    React, but Angular's pretty nice too!
  </p>
  <p class="text-left">
    Create notes with the button at bottom-left. Notes are stored to your browser's <code>localStorage</code>,
    so they'll be deleted if you clear out your browser.
  </p>
  <small>&copy; 2018 <a href="https://rmkennedy.com">Ryan Kennedy.</a> Code is available under the MIT License.</small>
</div>