<div class="list-group" *ngIf="notes.length > 0">
  <a note-list-item
    *ngFor="let note of notes"
    role="button"
    id="{{note.id}}"
    title="{{note.title}}"
    lastUpdated="{{note.lastUpdated}}"
    preview="{{note.excerpt}}"
  ></a>
</div>
<h3 *ngIf="notes.length === 0" class="text-center text-muted p-3">
  <fa-layers class="fa-fw">
    <fa-icon [icon]="faFile"></fa-icon>
    <fa-icon [icon]="faAsterisk" class="text-info" transform="shrink-6 right-7 down-6"></fa-icon>
  </fa-layers> No notes
</h3>