<div class="app-container d-flex flex-column">
  <app-navbar></app-navbar>
  <div class="row w-100 m-0">
    <div class="col-md-3 position-relative d-flex flex-column h-100">
      <div class="flex-grow-1">
        <app-note-list></app-note-list>
      </div>
      <div class="flex-grow-0 py-2">
        <button create-new-note class="btn btn-success btn-block btn-lg"></button>
      </div>
    </div>
    <div class="col-md-9 pt-2">
      <notable-landing-page></notable-landing-page>
    </div>
  </div>
</div>